table.syslog_report.ui-accordion tr.log_row {
    display: table-row;
}
.ui-accordion-header-active.ui-state-active {
    background-color: #0074bd;
    color: #fff;
}
.ui-accordion-header-collapsed {
    background-color: #f6f6f6;
}
.ui-accordion-header-collapsed:hover {
    background-color: #0074bd;
    color: #fff;
}