{{ attach_library('syslog_report/syslog_report.accordion') }}
<div class="syslog-report-container">
    {{log_report.syslog_report_filter_form}}
</div>
<table class='syslog_report'>
    <thead>
        <tr>
            <th>Date Time</th><th>Type</th><th>IP Address</th><th>URI</th><th>UID</th><th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for log in log_report.logs %}
            <tr class="log_row">
                <td>{{log.date}}</td>	
                <td>{{log.type}}</td>
                <td>{{log.ipaddress}}</td>
                <td>{{log.uri}}</td>
                <td>{{log.uid}}</td>
                <td>{{log.message|slice(0, 50) ~ '...'}}</td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Referer</th>
                            </tr>
                        </thead>
                        <tbody>
                        <td>{{log.message}}</td>
                        <td>{{log.referer}}</td>
        </tbody>
    </table>
</td>
</tr>
{% else %}
    <tr>
        <td colspan="6">No record found</td>	
    </tr>
{% endfor %}
</tbody>
</table>